InkassoServiceTest/Connected Services/IOBS_serv_DEMO/IcelandicOnlineBankingClaimsSoap2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://IcelandicOnlineBanking/2005/12/01/ClaimTypes" elementFormDefault="qualified" targetNamespace="http://IcelandicOnlineBanking/2005/12/01/ClaimTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://demo-inkasso.azurewebsites.net/SOAP/IOBS/IcelandicOnlineBankingClaimsSoap.svc?xsd=xsd2" namespace="http://IcelandicOnlineBanking/2005/12/01/CommonTypes" />
  <xs:complexType name="ArrayOfClaim">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Claim" nillable="true" type="tns:Claim" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Claim">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Key" type="tns:ClaimKey" />
      <xs:element minOccurs="0" maxOccurs="1" name="PayorID" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="CancellationDate" type="xs:date" />
      <xs:element minOccurs="0" maxOccurs="1" name="Identifier" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="Reference" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FinalDueDate" type="xs:date" />
      <xs:element minOccurs="0" maxOccurs="1" name="BillNumber" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CustomerNumber" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="NoticeAndPaymentFee" type="tns:NoticeAndPaymentFee" />
      <xs:element minOccurs="0" maxOccurs="1" name="DefaultCharge" type="tns:DateRestrictedCharge" />
      <xs:element minOccurs="1" maxOccurs="1" name="OtherCosts" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="OtherDefaultCosts" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="DefaultInterest" type="tns:DefaultInterest" />
      <xs:element minOccurs="0" maxOccurs="1" name="CurrencyInformation" type="tns:CurrencyInformation" />
      <xs:element minOccurs="1" maxOccurs="1" name="PermitOutOfSequencePayment" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="Discount" type="tns:DiscountCharge" />
      <xs:element minOccurs="1" maxOccurs="1" name="IsPartialPaymentAllowed" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="BillPresentmentSystem" type="tns:BillPresentmentSystem" />
      <xs:element minOccurs="0" maxOccurs="1" name="Printing" type="tns:Printing" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClaimKey">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ClaimantID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Account" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="DueDate" type="xs:date" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NoticeAndPaymentFee">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Printing" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Paperless" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DateRestrictedCharge">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="First" type="tns:DiscountOrDefaultChargeBase" />
      <xs:element minOccurs="0" maxOccurs="1" name="Second" type="tns:DiscountOrDefaultChargeBase" />
    </xs:sequence>
    <xs:attribute name="ReferenceDate" type="tns:ReferenceDate" use="required" />
  </xs:complexType>
  <xs:complexType name="DiscountOrDefaultChargeBase" abstract="true">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="Days" type="xs:int" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="DiscountOrDefaultChargePercentage">
    <xs:simpleContent>
      <xs:extension base="tns:DiscountOrDefaultChargeBase" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="DiscountOrDefaultChargeAmount">
    <xs:simpleContent>
      <xs:extension base="tns:DiscountOrDefaultChargeBase" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="ReferenceDate">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DueDate" />
      <xs:enumeration value="FinalDueDate" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DiscountCharge">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DateRestrictedCharge">
        <xs:attribute default="false" name="IsPostRefDate" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DefaultInterest">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Rule" type="tns:DefaultInterestRule" />
      <xs:element minOccurs="0" maxOccurs="1" name="Percentage4" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="SpecialCode" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="DefaultInterestRule">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NoDefaultInterest" />
      <xs:enumeration value="DefaultInterestAmount" />
      <xs:enumeration value="DefaultInterestAmountAndDefaultCharge" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CurrencyInformation">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ReferenceRate">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="ExchangeRate" />
            <xs:enumeration value="NoteRate" />
            <xs:enumeration value="CentralBankMidRate" />
            <xs:enumeration value="CentralBankStatutoryRate" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Currency" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="PaymentRate">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="DueDateRate" />
            <xs:enumeration value="PaymentDateRate" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BillPresentmentSystem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Type" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Parameters" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Printing">
    <xs:sequence>
      <xs:element xmlns:q1="http://IcelandicOnlineBanking/2005/12/01/CommonTypes" minOccurs="0" maxOccurs="1" name="ClaimantAddress" type="q1:Address" />
      <xs:element xmlns:q2="http://IcelandicOnlineBanking/2005/12/01/CommonTypes" minOccurs="0" maxOccurs="1" name="PayorAddress" type="q2:Address" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ItemRows" type="tns:ItemRow" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Comments" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemRow">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Text" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Amount" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClaimInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Claim">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="Status" type="tns:ClaimStatus" />
          <xs:element minOccurs="0" maxOccurs="1" name="CategoryCode" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="TotalAmountDue" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="NoticeChargeAmount" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="DefaultChargeAmount" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="OtherCostsAmount" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="OtherDefaultCostsAmount" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="DefaultInterestAmount" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="DiscountAmount" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="ClaimStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unpaid" />
      <xs:enumeration value="Paid" />
      <xs:enumeration value="Cancelled" />
      <xs:enumeration value="SecondaryCollection" />
      <xs:enumeration value="LegalCollection" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfClaimKey">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClaimKey" nillable="true" type="tns:ClaimKey" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClaimOperationResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ID" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Status" type="tns:BatchStatus" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Success" type="tns:ClaimResult" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Errors" type="tns:ClaimError" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="BatchStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="InProgress" />
      <xs:enumeration value="Completed" />
      <xs:enumeration value="CompletedWithErrors" />
      <xs:enumeration value="NotConfirmed" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ClaimResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Key" type="tns:ClaimKey" />
      <xs:element minOccurs="1" maxOccurs="1" name="Print" type="tns:PrintInformation" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="PrintInformation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NoInformation" />
      <xs:enumeration value="Print" />
      <xs:enumeration value="DirectPaymentClaim" />
      <xs:enumeration value="InternetBankingClaim" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ClaimError">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Key" type="tns:ClaimKey" />
      <xs:element xmlns:q3="http://IcelandicOnlineBanking/2005/12/01/CommonTypes" minOccurs="0" maxOccurs="1" name="Error" type="q3:Error" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClaimsQuery">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Claimant" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Identifier" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Period" type="tns:ClaimsQueryDateSpan" />
      <xs:element minOccurs="0" maxOccurs="1" name="Payor" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Status" type="tns:ClaimStatus" />
      <xs:element minOccurs="0" maxOccurs="1" name="EntryFrom" type="xs:unsignedInt" />
      <xs:element minOccurs="0" maxOccurs="1" name="EntryTo" type="xs:unsignedInt" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClaimsQueryDateSpan">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="DateFrom" type="xs:date" />
      <xs:element minOccurs="0" maxOccurs="1" name="DateTo" type="xs:date" />
    </xs:sequence>
    <xs:attribute name="DateSpanReferenceDate" type="tns:DateSpanReferenceDate" />
  </xs:complexType>
  <xs:simpleType name="DateSpanReferenceDate">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DueDate" />
      <xs:enumeration value="FinalDueDate" />
      <xs:enumeration value="CancellationDate" />
      <xs:enumeration value="CreationDate" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="QueryClaimsResult">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="TotalCount" type="xs:unsignedInt" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Claims" type="tns:ClaimInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentsQuery">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Claimant" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Identifier" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DisposalAccount" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="TransactionDateFrom" type="xs:date" />
      <xs:element minOccurs="1" maxOccurs="1" name="TransactionDateTo" type="xs:date" />
      <xs:element minOccurs="0" maxOccurs="1" name="EntryFrom" type="xs:unsignedInt" />
      <xs:element minOccurs="0" maxOccurs="1" name="EntryTo" type="xs:unsignedInt" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QueryPaymentsResult">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="TotalCount" type="xs:unsignedInt" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Payments" type="tns:Payment" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Payment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Key" type="tns:ClaimKey" />
      <xs:element minOccurs="0" maxOccurs="1" name="PayorID" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="FinalDueDate" type="xs:date" />
      <xs:element minOccurs="0" maxOccurs="1" name="Identifier" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Reference" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CategoryCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="RedeemingBank" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="TransactionDate" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="BookingDate" type="xs:date" />
      <xs:element minOccurs="1" maxOccurs="1" name="ValueDate" type="xs:date" />
      <xs:element minOccurs="1" maxOccurs="1" name="PaymentType">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Complete" />
            <xs:enumeration value="Partial" />
            <xs:enumeration value="Refund" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="AmountDeposited" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="TotalAmount" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="CapitalGainsTax" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="BillNumber" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CustomerNumber" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="NoticeChargeAmount" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="DefaultChargeAmount" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="OtherCostsAmount" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="OtherDefaultCostsAmount" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="DefaultInterestAmount" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="DiscountAmount" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="Currency" type="tns:CurrencyExchangeRate" />
      <xs:element minOccurs="0" maxOccurs="1" name="BatchNumber" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CurrencyExchangeRate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Currency" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Rate" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>